#main {
	background-color: #E2E2E2;
	margin: 5% auto;
	width: 28%;
	padding-top: 2%;

}

.input-group {
	margin-top: 2%;
}

.btn {
	margin-top: 5%;
	margin-bottom: 10%;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}