button {
    margin: auto;
    color: navy blue;
    width: 50%;
    height: 50px;
    margin-top: 5px;
}

h1 {
    text-align: center;
}

form {
    max-width: 800px;
    align-content: center;
    margin-left: 34%;
}



