button {
    margin: auto;
    color: blue;
    width: 50%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
        opacity: 0.7;
}

h1 {
    text-align: center;
}

form {
    max-width: 800px;
    align-content: center;
    margin-left: 34%;
}



