<!DOCTYPE html>
<html>
	<head>
		<title>about</title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
    <h2>about</h2>
    <button type="button" class="btn" id="home">back to home</button>
    <script type="text/javascript">
      document.getElementById("home").onclick = function () {
        location.href = '/';
      };
    </script>
	</body>
</html>
