<!DOCTYPE html>
<html>
	<head>
		<title>about</title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
            <h1 class=title>about</h1>
            <form class=content>
                    <button><a href="/">back to home</a></button>
            </form>
	</body>
</html>
