<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <h2>index</h2>
    <button type="button" class="btn" id="posts">posts</button>
    <button type="button" class="btn" id="about">about</button>
    <script type="text/javascript">
      document.getElementById("posts").onclick = function () {
        location.href = '/posts';
      };
      document.getElementById("about").onclick = function () {
        location.href = '/about';
      };
    </script>
</html>
