<!DOCTYPE html>
<html>
	<head>
		<title>post 1</title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
		<h1 class="text-center my-5">post 1</h1>
		<div class="col-12 text-center">
			<a class="btn btn-lg btn-info my-1 w-25" href="/">back to home</a>
		</div>
		<div class="col-12 text-center">
			<a class="btn btn-lg btn-info my-1 w-25" href="/posts">back to posts</a>
		</div>
	</body>
</html>
