<!DOCTYPE html>
<html>
  <head>
    <title>posts</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <h2>posts</h2>
    <button type="button" class="btn">back to home</button>
    <button type="button" class="btn">post 1</button>
  </body>
</html>
