<!DOCTYPE html>
<html>
  <head>
    <title>post1</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <h2>post1</h2>
    <button type="button" class="btn">back to home</button>
    <button type="button" class="btn">back to posts</button>
  </body>
</html>
