<!DOCTYPE html>
<html>
	<head>
		<title>about</title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <br></br>
            <h1 class="text-center">posts</h1>
            <br></br>
            <div class="row">
              <div class="col-xs-6 col-sm-4"></div>
              <div class="col-xs-6 col-sm-4">
                <button type="button" class="btn btn-info btn-md btn-block">back to home</button>
                <button type="button" class="btn btn-info btn-md btn-block">post 1</button>
              </div>
              <div class="col-xs-6 col-sm-4"></div>
            </div>
        </div>
	</body>
</html>
