<!DOCTYPE html>
<html>
	<head>
		<title>post 1</title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>    
            <h1 class=title>post 1</h1>
            <form class=content>
                <button>back to home</button>
                <button>back to posts</button>
            </form>
	</body>
</html>
