<!DOCTYPE html>
<html>
  <head>
    <title>posts</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-5">posts</h1>
      <div class="row justify-content-md-center mb-2">
        <button type="button" class="btn btn-info col-md-4" id="home">back to home</button>
      </div>
      <div class="row justify-content-md-center">
        <button type="button" class="btn btn-info col-md-4" id="post1">post1</button>
      </div>
    </div>

    <script type="text/javascript">
      document.getElementById("home").onclick = function () {
        location.href = '/';
      };
      document.getElementById("post1").onclick = function () {
        location.href = '/post1';
      };
    </script>
  </body>
</html>
