<!DOCTYPE html>
<html>
	<head>
		<title>posts</title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>    
            <h1 class=title>posts</h1>
            <form class=content>
                <button>back to home</button>
                <button>post 1</button>
            </form>
	</body>
</html>
